pymetasploit3==1.0.6
termcolor==2.4.0
tkcalendar==1.6.1
Pillow==10.1
pytz==2023.3.post1
configparser==7.1.0
schedule==1.2.2
matplotlib==3.6.3
reportlab==4.2.5
pandas==2.1.4+dfsg
gvm-tools==24.8.0
